<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us | Recipe World</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&family=Borel&family=Cookie&family=Gowun+Dodum&family=Lavishly+Yours&family=Poiret+One&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/about.css">
    
</head>
<body>

<header>
    About us
</header>

<section class="container">
    <div class="about-section">
        <div class="about-content">
            <h2>Welcome to Recipefied!</h2>
            <p class="about-text">At Recipefied, we believe in the power of sharing delicious recipes from different Regions. Our goal is to inspire people to cook, experiment with new dishes, and bring joy to the kitchen. Our team is passionate about food, creativity, and technology, and we're excited to share this journey with you.</p>
            <button class="read-more-btn">Read More</button>
        </div>
        <div class="about-image">
            <img src="/img/taylor.jpg" alt="Delicious recipe image">
        </div>
    </div>

    <div class="about-section Section-2">
        <h2>Meet the Team</h2>
        <div class="team">
            <div class="team-member">
                <img src="/img/tanmay1.jpg" alt="Dev 1">
                <h3>Tanmay Narkar</h3>
                <p>Full Stack Developer</p>
            </div>
            <div class="team-member">
                <img src="/img/Pandey1.png" alt="Dev 2">
                <h3>Prathmesh Pandey</h3>
                <p>Back-end Developer</p>
            </div>
            <div class="team-member">
                <img src="/img/Jatin.JPG" alt="Dev 3">
                <h3>Jatin Nimje</h3>
                <p>Front-end Developer</p>
            </div>
            <div class="team-member">
                <img src="/img/Sohum.png" alt="Dev 4">
                <h3>Sohum Narwani</h3>
                <p>Front-end Developer</p>
            </div>
        </div>
    </div>
    </div>
</section>

</body>
</html>